* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #1f1f28;
  color: #dcd7ba;
}

#workspaces button {
  padding: 0 8px;
  color: #727169;
}

#workspaces button.active {
  color: #7e9cd8;
  border-bottom: 2px solid #7e9cd8;
}

#clock, #pulseaudio, #network, #battery, #tray {
  padding: 0 10px;
  color: #dcd7ba;
}

#battery.warning { color: #ff9e3b; }
#battery.critical { color: #c34043; }
